.head_item{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
	color: #bdbdbd;
}
.footer_links_list_item{
	padding: 20px 0px;
	a{
		text-decoration: none;
		color: #fff;
	}
	&:last-child{
		padding: 20px 0 0;
	}
}
.pop-up-contaier::-webkit-scrollbar-track
{
  background-color: transparent;
}

.pop-up-contaier::-webkit-scrollbar
{
  width: 6px;
  background-color: transparent;
}

.pop-up-contaier::-webkit-scrollbar-thumb
{
  background-color: $mainColor;
  border-radius: 2px;
}
.pop-up{
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	display: none;
	z-index: 3;
	background: rgba(0,0,0,.4);
	.pop-up-wrap{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid $blackColor;
		border-radius: 10px;
		background: $ligtGrayColor;
	}
	.pop-up-contaier{
		background: $whiteColor;
		padding: 20px;
		margin: 20px;
		max-height: 70vh;
		overflow-y: scroll;
		border-radius: 10px;
	}
}
.close-btn{
	position: absolute;
	top: 15px;
	right: 3px;
	font-size: 30px;
	color: #333333;
	cursor: pointer;
	text-decoration: none;
	line-height: 0;
}
#video{
	width: 100vw; 
	height: 100vh;
}

@media screen and (max-width: 520px) {
	.footer_logo{
		order: 1;
		margin: 40px 0px 60px !important;
	}
}
@media screen and (max-width: 360px) {
	.footer_links_list{
		margin: 30px
	}
	.footer_lins{
		border-left: none !important;
	}
}


.footer{
	font-size: 16px;
	margin-top: 83px;
	margin-bottom: 35px;

}
.wpbtn-footer{
	border-radius: 10px;
	background-color: #1e9df2;
	color: #fff;
	padding: 0 12px;
	line-height: 4;
	display: inline-block;
	margin-bottom: 30px;
	border: none;
	outline: none;
}
.footer-align-wrapper{
	text-align: center;
}
.footer-sub{
	padding: 14px 0px 4px 0px;
	.footer-logo{
		visibility: hidden;
	}
}
.footer-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	font-size: 12px;
	color: #9B9B9B;
	margin: 0px 20px;
}
.footer-contacts{
	display: flex;
	.footer-icons{
		padding: 2px 0px 2px 5px;
		svg{
			height: 100%;
		}
	}
	div{
		padding: 2px;
	}
}
.footer-align-wrapper,
.footer-sub{
	position: relative;
	z-index: 2;
}
.footer-logo,
.footer-contacts{
	width: 200px;
}
@media screen and (max-width: 760px) {
    .whitepapper{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}
.close-button {
    transition: all 0.5s ease;
    position: absolute;
    padding: 1.5px 7px;
    right: 0;
    top: 10px;
    margin-left: -10px;
    margin-top: -9px;
    color: rgba(0, 0, 0, 0.7);
}

.close-button:hover {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}



