$mainColor: #1e9df2;
$goldColor: #ffbd4a;
$blackColor: #333333;
$grayColor: #9b9b9b;
$ligtGrayColor: #d8d8d8;
$whiteColor: #fafafa;
$redColor: #e34c26;

body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.--mainColor{color: #1e9df2;}
.--goldColor{color: #ffbd4a;}
.--blackColor{color: #333333;}
.--grayColor{color: #9b9b9b;}
.--ligtGrayColor{color: #d8d8d8;}
.--whiteColor{color: #fafafa;}
.--redColor{color:#e34c26;}

.--italic{font-style: italic;}
.--bold{font-weight: bold;}

a{
	color: $mainColor;
}
*{
	outline: none;
}

input[type="radio"],
input[type="checkbox"]{
	cursor: pointer;
}